<h1>Question 1</h1>
Consider the following Python module:<br>
a = 0<br>
def b():<br>
 global a<br>
 a = c(a)<br>
def c(a):<br>
 return a + 2<br>
After importing the module into the interpreter, you execute:<br>
/>>> b()<br>
/>>> b()<br>
/>>> b()<br>
/>>> a<br>
?<br>
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.<br>
ANS) 6

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()
#here a=2

In [3]:
b()#a becomes 4

In [4]:
b()#a becomes 6

In [5]:
a

6

<h1>Question 2</h1>
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:<br>
/> fileLength('midterm.py')<br>
284<br>
/> fileLength('idterm.py')<br>
Traceback (most recent call last):<br>
File "<pyshell#34>", line 1, in <module><br>
 fileLength('idterm.py')<br>
File "/Users/me/midterm.py", line 3, in fileLength<br>
 infile = open(filename)<br>
FileNotFoundError: [Errno 2] No such file or directory: <br>
'idterm.py'<br>
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:<br>
>>> fileLength('midterm.py')<br>
358<br>
>>> fileLength('idterm.py')<br>
File idterm.py not found.<br>

In [77]:
def filelength(filename):
    #using try except to catch error
    try:
        file = open(filename)
        #using read function to read the file
        text =file.read()
        file.close()
        return len(text)
    except:
        print(filename +" not found")

In [78]:
filelength(('\\Users\\jewel\\Downloads\\midterm.py'))

27

In [79]:
filelength(('\\Users\\jewel\\Downloads\\idterm.py'))

\Users\jewel\Downloads\idterm.py not found

### Question 3
Write a class named Marsupial that can be used as shown below:<br>
.> m = Marsupial()<br>
.> m.put_in_pouch('doll')<br>
.> m.put_in_pouch('firetruck')<br>
.> m.put_in_pouch('kitten')<br>
.> m.pouch_contents()<br>
['doll', 'firetruck', 'kitten']

In [57]:
#creating class marsupial
class Marsupial:
    def __init__(self):
        self.item = []
    def put_in_pouch(self,new):
        self.item.append(new)
    def pouch_contents(self):
        return self.item

In [58]:
m= Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:<br>
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,<br>
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and<br>
c. overloads the __str__ operator so it behaves as shown below.<br>
.>>> k = Kangaroo(0,0)<br>
.>>> print(k)<br>
I am a Kangaroo located at coordinates (0,0)<br>
.>>> k.put_in_pouch('doll')<br>
.>>> k.put_in_pouch('firetruck')<br>
.>>> k.put_in_pouch('kitten')<br>
.>>> k.pouch_contents()<br>
['doll', 'firetruck', 'kitten']<br>
.>>> k.jump(1,0)<br>
.>>> k.jump(1,0)<br>
.>>> k.jump(1,0)<br>
.>>> print(k)<br>
I am a Kangaroo located at coordinates (3,0)<br>

In [73]:
class kangaroo(Marsupial):#defining kangaroo as a subclass of marsupial
    def __init__(self,xcoord,ycoord):
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
    def jump(self,dx,dy):#changing x and y cordinate as kangaroo jumps
        self.x += dx
        self.y += dy
    def __str__(self):
        return ("I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y))

In [74]:
k = kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [75]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [76]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:<br>
x = {<br>
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐<br>
3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬<br>
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [141]:
def collatz(x):
    #creating a conditional so that loop exists if value becomes 1
    if(x!=1):
        if (x%2==0):
            print(x)
            x=(x/2)
        else:
            print(x)
            x=(3*x+1)
        collatz(x)
    else:
        print(x)

In [142]:
collatz(1)

1

In [143]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

## Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [68]:
def binary(num):
    if (num == 0):#binary of 0 & 1 is the number itself
        print(num)
    elif (num ==1):
        print(num)
    elif (num>1):
        binar=num%2#dividing number by two and then taking reminder
        print(binar,end='')
        binary(num//2)

In [69]:
binary(0)

0

In [70]:
binary(1)

1

In [72]:
binary(3)

11

In [73]:
binary(9)

1001

## Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [138]:
from html.parser import HTMLParser
#imported html parse
#creating class headingparser as a subclass of htmlparser
class HeadingParser(HTMLParser):
    
    def handle_starttag(self, tag, attrs):#used to handle starting of a tag
        self.tag=tag
    def handle_endtag(self, tag):#used to handle ending of a tag
        self.tag = ""
    def handle_data(self, data):#used to process data(content)
        #intending according to the heading
        if (self.tag =='h1'):
            print(" "+data)
        elif (self.tag =='h2'):
            print("  "+data)
        elif (self.tag =='h3'):
            print("   "+data)
        elif (self.tag =='h4'):
            print("    "+data)
        elif (self.tag =='h5'):
            print("     "+data)
        elif (self.tag =='h6'):
            print("      "+data)

In [139]:
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
  Principles

## Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.

In [7]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Collector(HTMLParser):#to collect hyperlink urls into a llist
    'collects hyperlink URLs into a list'
    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []#creating a list to collect urls
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':#check whether the given attribute is an href attribute
                    urlfinder = urljoin(self.url, attr[1])
                    if urlfinder[:4] == 'http':
                        self.links.append(urlfinder)
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

def webdir(url,depth,indent):
    urlData = ''
    for i in range(indent):
        urlData+= " "#to find how much spaces should be intended
    print(urlData+url)#printing url after intendation
    if depth<=0:
        return
    try:
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        urls = collector.getLinks()
    except:
        return
    for url1 in urls:
        webdir(url1,depth-1,indent+1)

In [8]:
from urllib.request import urlopen
url = 'http://reed.cs.depaul.edu/lperkovic/one.html'
webdir(url,2,0)

http://reed.cs.depaul.edu/lperkovic/one.html
 http://reed.cs.depaul.edu/lperkovic/two.html
  http://reed.cs.depaul.edu/lperkovic/four.html
 http://reed.cs.depaul.edu/lperkovic/three.html
  http://reed.cs.depaul.edu/lperkovic/four.html

## Question 8
Write SQL queries on the below database table that return:<br>
a) All the temperature data.<br>
b) All the cities, but without repetition.<br>
c) All the records for India.<br>
d) All the Fall records.<br>
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.<br>
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.<br>
g) The total annual rainfall for Cairo.<br>
h) The total rainfall for each season.<br>

In [153]:
%%sql  #using sql to create table.
CREATE TABLE weather
(
    City TEXT,
    Country TEXT,
    Season  TEXT,
    Temperature REAL,
    Rainfall REAL
)

 * sqlite:///chinook.db
(sqlite3.OperationalError) table weather already exists
[SQL: CREATE TABLE weather (
    City TEXT,
    Country TEXT,
    Season  TEXT,
    Temperature REAL,
    Rainfall REAL
)]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [156]:
%%sql
#inserting given values into the table
INSERT INTO weather VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9);
INSERT INTO weather VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);
INSERT INTO weather VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);
INSERT INTO weather VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);
INSERT INTO weather VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);
INSERT INTO weather VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);
INSERT INTO weather VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);
INSERT INTO weather VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);
INSERT INTO weather VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
INSERT INTO weather VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
INSERT INTO weather VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
INSERT INTO weather VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5) ;

 * sqlite:///chinook.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

a) All the temperature data.<br>

In [157]:
%%sql 
select * from weather

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

b) All the cities, but without repetition.

In [158]:
%%sql
select distinct City from weather

 * sqlite:///chinook.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [160]:
%%sql
select * from weather where Country = 'India'

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records

In [161]:
%%sql
select * from weather where Season='Fall'

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [165]:
%%sql
select City,Country,Season,AVG(Rainfall) from weather where Rainfall between 200 and 400 group by country

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall', 346.0),
 ('London', 'United Kingdom', 'Winter', 213.1)]

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [168]:
%%sql
select City,Country,AVG(Temperature) from weather where Season='Fall' and Temperature > 20 group by Country order by Temperature

 * sqlite:///chinook.db
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

g) The total annual rainfall for Cairo.

In [170]:
%%sql
select City,SUM(Rainfall) from weather where City='Cairo'

 * sqlite:///chinook.db
Done.

[('Cairo', 27.6)]

h) The total rainfall for each season

In [171]:
%%sql
select Season,SUM(Rainfall) from weather group by Season

 * sqlite:///chinook.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9
. Suppose list words is defined as follows:<br>
.>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']<br>
Write list comprehension expressions that use list words and generate the following 
lists:<br>
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']<br>

In [175]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
upperwords=[]
for word in words:
    upperwords.append(word.upper())
print(upperwords)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']<br>

In [176]:
lowerwords=[]
for word in words:
    lowerwords.append(word.lower())
print(lowerwords)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).<br>

In [177]:
lengthwords=[]
for word in words:
    lengthwords.append(len(word))
print(lengthwords)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)<br>

In [182]:
secondlist=[]
for word in words:
    newlist=[]
    newlist.append(word.upper())
    newlist.append(word.lower())
    newlist.append(len(word))
    secondlist.append(newlist)
print(secondlist)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [183]:
list4=[]
for word in words:
    if len(word) >=4:
        list4.append(word)
print(list4)

['quick', 'brown', 'jumps', 'over', 'lazy']